/*********************
 * @FONTFACE *
*********************/

@font-face {
  font-family: 'Faune';
  font-weight: 400;
  src: url(/fonts/faune-regular.woff2);
}

@font-face {
  font-family: 'Faune';
  font-weight: 400;
  font-style: italic;
  src: url(/fonts/faune-italic.woff2);
}

@font-face {
  font-family: 'Faune';
  font-weight: 700;
  src: url(/fonts/faune-bold.woff2);
}

/*********************
 * Variables *
*********************/

:root {
  /* Color */
  --white: #fff;
  --black: #2a2a2a;
  --faded-black: #575757;

  /* Font size */
  --base-size: 16px;
  --p: 1rem;
  --h1: 1.5rem;
  --display: 4rem;
}

/*********************
 * General *
*********************/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Faune', 'Arial';
  color: var(--white);
  background: var(--black);
}

h1 {
  font-size: var(--h1);
  font-weight: 700;
}

section.options {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  background: var(--black);
  padding: 40px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

section.output {
  margin: 40px 40px 40px 320px;
}

div.option {
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'] {
  width: 100%;
  background-color: var(--faded-black);
  color: var(--white);
  border: none;
  outline: none;
  padding: 4px 8px;
}

section.output {
  font-size: var(--display);
}
