/*********************
 * @FONTFACE *
*********************/

@font-face {
  font-family: 'Faune';
  font-weight: 400;
  src: url(/fonts/faune-regular.woff2);
}

@font-face {
  font-family: 'Faune';
  font-weight: 400;
  font-style: italic;
  src: url(/fonts/faune-italic.woff2);
}

@font-face {
  font-family: 'Faune';
  font-weight: 400;
  src: url(/fonts/faune-bold.woff2);
}

/*********************
 * Variables *
*********************/

:root {
  /* Color */
  --white: #fff;
  --black: #2a2a2a;

  /* Font size */

  --base-size: 16px;
  --p: 1.25rem;
  --p-small: 1rem;
}

/*********************
 * General *
*********************/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Faune', 'Arial';
  color: var(--white);
  background: var(--black);
}

section.options {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  background: var(--black);
}

section.output {
  margin: 40px 40px 40px 320px;
}
