/*********************
 * @FONTFACE *
*********************/

@font-face {
  font-family: 'Faune';
  font-weight: 400;
  src: local('faune-regular'), url(/fonts/faune-regular.woff2) format('woff2'),
    url(/fonts/faune-regular.woff) format('woff');
}

@font-face {
  font-family: 'Faune';
  font-weight: 400;
  font-style: italic;
  src: local('faune-italic'), url(/fonts/faune-italic.woff2) format('woff2'),
    url(/fonts/faune-italic.woff) format('woff');
}
/*********************
 * Variables *
*********************/

:root {
  /* Color */
  --white: #fff;
  --black: #000;
  --red: #ca584f;
  --blue: #526cf3;
  --green: #719675;
  --faded-black: #1a1a1a;
  --fadest-black: #333;
  --highlight: #bababa;

  /* Font size */
  --base-size: 16px;
  --p: 1rem;
  --h1: 1.5rem;
  --display: 4rem;
}

/*********************
 * General *
*********************/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Faune', 'Arial';
  line-height: 1.5;
  color: var(--white);
  background: var(--black);
}

h1 {
  font-size: var(--h1);
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column-reverse;
}

/* Adjustment section */

section.options {
  height: auto;
  width: 100%;
  background: var(--black);
  padding: 40px 16px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

div.option {
  margin-top: 24px;
}

div.option-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 8px;
}

label span {
  float: right;
  font-style: italic;
}

input[type='text'] {
  width: 100%;
  background-color: var(--faded-black);
  color: var(--white);
  border: 1px solid var(--fadest-black);
  border-radius: 5px;
  outline: none;
  padding: 12px;
  margin-top: 6px;
  transition: all 0.2s;
}

input[type='text']:focus {
  border: 1px solid var(--highlight);
  box-shadow: 0 0 0 1px var(--highlight);
}

input[type='range'] {
  width: 100%;
}

div.colors {
  display: flex;
  user-select: none;
}

div.colors div {
  width: 48px;
  height: 48px;
  border: 2px solid var(--fadest-black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 12px 0 0;
  cursor: pointer;
  transition: all 0.2s;
}

div.colors div.selected {
  border: 2px solid var(--highlight);
}

/* Text area */

textarea.output {
  width: 100%;
  height: 480px;
  padding: 40px 16px;
  font-size: var(--display);
  background: none;
  border: none;
  outline: none;
  color: var(--white);
  background-color: var(--faded-black);
  line-height: 1.5;
}

/* Desktop */

@media screen and (min-width: 960px) {
  main {
    display: flex;
    flex-direction: row;
  }

  section.options {
    height: 100vh;
    width: 480px;
  }

  textarea.output {
    height: auto;
    padding: 40px;
  }
}
